<%= form_for(@user) do |f| %>

    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>


    <fieldset>
      <legend>Home Adress:</legend>
      <p>

        <label>Street 1:</label>
        <input type="text" name="user[addreses_attributes][][street_1]">
      </p>

      <label>Street 2:</label>
      <input type="text" name="user[addreses_attributes][][street_2]">
      </p>



    </fieldset>



    {:street_1 => "Strasse 1", :address_type => "home"},
    {:street_1 => "Strasse 2", :address_type => "business"}


    <%= f.submit %>
    <% end %>
<!--<form>

    <p>
      <label>Email</label>
      <input type="text" name="">
    </p>



  <fieldset>
    <legend>Business Adress:</legend>
    <p>

      <label>Street:</label>
      <input type="text" name="">
    </p>

  </fieldset>

  <fieldset>
  <legend>Existing Team by name:</legend>
  <p>

    <label>Enter your Teamname:</label>
    <input type="text" name="">
  </p>

</fieldset>

  <fieldset>
    <legend>Create a new Team name:</legend>
    <p>

      <label>Teamname:</label>
      <input type="text" name="">
    </p>

    <label>Hometown:</label>
    <input type="text" name="">
    </p>


  </fieldset>
<input type = "submit"/>


</form>


-->